.contacts-group-title{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
}

.contacts-group-show-button-upper{
    padding-top: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contacts-group-show-button{
    border: 1px solid black;
    border-radius: 5px;
    font-size: 12px;
    min-width: 160px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

}

@media(max-width: 512px){
    .contacts-group-body{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;

    }
}

.contacts-group-title-upper{
    box-sizing: border-box;
    width: 75vw;
}

.contacts-group-title{
    display: block;
    text-align: start;

    font-size: 15px;
    font-weight: 600;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media(min-width: 512px) {
    .contacts-group-body{
        max-width: 350px;

        align-items: flex-start;

    }

    .contacts-group-title-upper{
        max-width: 350px;
        box-sizing: border-box;
    }

}


.contacts-group-content{
    max-height: 118px;
    overflow-y: hidden;
    width: 100%;
}

.contacts-group-content-all{
    max-height: 100%;
    /*overflow-y: hidden;*/
}