<transition name="fade">
    <div class="body" v-if="show">
        <div class="topcontent">

            <ul class="sidebarlist">
                <li>
                    <div @click="() => handlerClick('home')" class="contentItem">
                        <div class="icon">
                            <font-awesome-icon class="icon" icon="home" />
                        </div>
                        Home
                    </div>
                </li>
                <li class="contentItemMobileExclusive">
                    <div @click="() => handlerClick('dashboard')" class=" contentItemMobileExclusive contentItem">
                        <div class="icon">
                            <font-awesome-icon class="icon" icon="chart-pie" />
                        </div>
                        Dashboard
                    </div>
                </li>
                <li>
                    <div @click.prevent="() => handlerReportGenerator()" class="contentItem">

                        <div class="icon">
                            <font-awesome-icon class="icon" icon="file-pdf" />
                        </div>
                        Report
                    </div>
                </li>
            </ul>




        </div>
        <div class="bottomcontent">
            <hr class="solid" />
            <div class="contentItem" @click="handlerLogout">
                <div class="icon">
                    <font-awesome-icon class="icon" icon="sign-out-alt" />
                </div>
                Logout
            </div>
        </div>
    </div>
</transition>
